<!DOCTYPE html>
<html>

<head>
  <title> Student Managment </title>
  <link rel="stylesheet" type="text/css" href="/css/student/create.css">
</head>

<body>
  <h1>Create a Student Account </h1>
  <form action="/students" , method="post">
    <label for="student-name">Student UserName:</label>
    <input type="text" id="department-name" name="username" placeholder="Enter student name...">

    <label for="student-code">student Email:</label>
    <input type="email" id="student-password" name="email" placeholder="Enter student password...">

    <label for="student-num">Password</label>
    <input type="password" id="department-code" name="password" placeholder="Enter student code...">

    <button type="submit" id="add-button"> Create </button>
  </form>
</body>

</html>