<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/admin.css">

	<title>Adminstrator</title>
</head>
<body>

	
		
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
				</div>
			</div>

			<ul class="box-info">
				<li>
                    <a href="/departments">
                    <i class='bx bxs-group' ></i>
					<span class="text">
						<h3>Department Management</h3>
					</span>
                    </a>
					
				</li>
				<li>
					<a href="/subjects">
                        <i class='bx bxs-group' ></i>
                        <span class="text">
                            <h3>Course Management</h3>
                        </span>
                        </a>
				</li>
				<li>
					<a href="#">
                        <i class='bx bxs-group' ></i>
                        <span class="text">
                            <h3>Absence Management</h3>
                        </span>
                        </a>
				</li>
                <li>
					<a href="/doctors">
                        <i class='bx bxs-group' ></i>
                        <span class="text">
                            <h3>Doctor Management</h3>
                        </span>
                        </a>
				</li>
                <li>
					<a href="/students">
                        <i class='bx bxs-group' ></i>
                        <span class="text">
                            <h3>Student Management</h3>
                        </span>
                        </a>
				</li>
			</ul>
			</div>
		</main>
		<!-- MAIN -->
	
	
	

	<!-- <script src="script.js"></script> -->
</body>
</html>