body {
    background-color: #f2f2f2;
  }
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    text-align: center;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }
  
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:  #3C91E6;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .form button:hover,.form button:active,.form button:focus {
    background:  #3C91E6;
  }
  
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
  }
  
  .form .message a {
    color:  #3C91E6;
    text-decoration: none;
  }
  
  .form .register-form {
    display: none;
  }
  
  @media screen and (max-width: 480px) {
    .form {
      padding: 35px;
    }
    .form button {
      padding: 10px;
    }
  }
  .radio-buttons {
    max-width: 500px;
    margin: 50px auto;
    text-align: left;
  }
  .radio-buttons {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input[type="radio"] {
     display: none; 
  } 
  
  label {
    display: inline-block;
    margin: 0 10px;
    font-size: 1 em;
    cursor: pointer;
  }
  
   label:before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid   #3C91E6;
  } 
  
  input[type="radio"]:checked + label:before {
    background-color: #032a49;
    border-color: #072a46;
  }



