 <div class="container" style="margin: 50px;">
        <form action="/doctorpage/{{subject._id}}" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <button type="submit">Upload File</button>
        </form>
        
    </div>
    {{!-- <h1>basm mohame</h1>
 <div class="container">
      {{#each files}}
        <a href="/{{avatar}}"> pdfs</a>
        {{/each}}
    </div> --}}